@charset "UTF-8";
/*
* reset
*/
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, input, button, textarea {
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  outline: none;
}
a:focus, input:focus, button:focus, textarea:focus {
  outline: none;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  background-color: #FFFFFF;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

a {
  background: transparent;
  text-decoration: none;
  color: #333;
}

a:active {
  outline: none;
}

/*a:active { color: #006699; }*/
abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: normal;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
  -webkit-user-select: none;
  user-select: none;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input, textarea {
  line-height: normal;
  border: none;
  -webkit-user-select: initial;
  user-select: initial;
}
input:focus, input:active, textarea:focus, textarea:active {
  border: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

button, input, select, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 1.2857rem;
}

h2 {
  font-size: 1.1429rem;
}

h3 {
  font-size: 1rem;
}

input::-moz-placeholder,
input:-ms-input-placeholder,
input::-webkit-input-placeholder,
textarea::-moz-placeholder,
textarea:-ms-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

.cell, .searchbar {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.cell-bd, .search {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

[data-role="page"] {
  margin: 0 auto;
  background-color: #f3f3f3;
}

body {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper {
  position: absolute;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: transparent;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-wrap: normal;
  word-wrap: break-word;
  word-break: break-all;
}

.scroller {
  position: absolute;
  top: 0;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}

.v-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.arr-right {
  cursor: pointer;
  color: #b2b2b2;
  text-align: right;
}
.arr-right:after {
  display: inline-block;
  content: ' ';
  width: 0.505rem;
  height: 0.9rem;
  line-height: 1;
  margin-left: 10px;
  margin-top: -4px;
  vertical-align: middle;
  background-size: 0.505rem .9rem !important;
  background: url("../../images/right_arrow@3x.png") center no-repeat;
}

.arrow-right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #b2b2b2;
  margin-right: -.2em;
  display: inline-block;
}
.arrow-right:before {
  content: "\e664";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.group-list {
  background-color: #FFFFFF;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  margin-bottom: .7rem;
}
.group-list .ls-item {
  height: 3.15rem;
  padding-left: 1.05rem;
}
.group-list .ls-item .inner {
  height: 100%;
  border-bottom: 1px solid #D8D8D8;
  font-size: .95rem;
}
.group-list .ls-item .inner label {
  height: 100%;
  display: inline-block;
  float: left;
  line-height: 44px;
  width: 30%;
  width: auto;
  height: 3.15rem;
  line-height: 3.15rem;
  text-align: center;
}
.group-list .ls-item .inner input {
  border: none;
  text-indent: .95rem;
  color: #626262;
  background-color: transparent;
  width: 40%;
  height: 3.15rem;
}
.group-list .ls-item .r-con {
  position: relative;
  float: right;
  padding-right: 1.05rem;
  width: auto;
  height: 3.15rem;
  line-height: 3.15rem;
  text-align: center;
  text-align: right;
}
.group-list .ls-item .r-con label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 100%;
  padding-left: .35rem;
  margin-left: .35rem;
  text-indent: 1.05rem;
  background-size: 1.05rem !important;
  background: url("../../images/ico-radio-unchecked@3x.png") left center no-repeat;
}
.group-list .ls-item .r-con label.checked {
  background: url("../../images/ico-radio-checked@3x.png") left center no-repeat;
}
.group-list .ls-item .r-con input[type="radio"],
.group-list .ls-item .r-con input[type="checkbox"] {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
}
.group-list .ls-item .r-con input[type*="date"] {
  width: 80%;
  text-align: right;
}
.group-list .ls-item:last-of-type .inner {
  border-bottom: none;
}

.group-title {
  color: #9b9b9b;
  padding-left: 1.05rem;
  font-size: .85rem;
}

.go-top {
  width: 1.8rem;
  height: 1.8rem;
  position: fixed;
  z-index: 99;
  bottom: 0.75rem;
  right: 0.75rem;
  background: url("../../images/common_icon_top@3x.png") center no-repeat;
  background-size: contain;
}
.go-top a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.isbrowser .go-top {
  bottom: 3.2rem;
}

.group-btn {
  padding: 0 1.05rem;
}

.btn {
  display: inline-block;
  width: 100%;
  height: 2.85rem;
  line-height: 2.85rem;
  text-align: center;
  border: 1px solid #066B89;
  border-radius: .3rem;
  font-size: 1.15rem;
  color: #066B89;
  letter-spacing: .1rem;
  margin: 15px 0;
}
.btn.actived {
  color: #FFFFFF;
  background-color: #4A78AF;
}
.btn.unactived {
  border: none;
  color: #FFFFFF;
  background-color: #b2b2b2;
}

.tab-module .tab-list {
  position: relative;
}
.tab-module .tab-nav {
  width: 100%;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #eee;
}
.tab-module .tab-nav .tab-item {
  float: left;
  width: 33.3%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.tab-module .tab-nav .tab-item a {
  font-size: 14px;
  color: #626262;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.tab-module .tab-nav .tab-item a span {
  position: relative;
  display: inline-block;
  height: 100%;
  padding: 0 .15rem;
}
.tab-module .tab-nav .tab-item.selected a {
  color: #0F8BB4;
}
.tab-module .tab-nav .tab-item.selected a span:after {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  display: block;
  content: ' ';
  background-color: #0F8BB4;
  background: url("../../images/icon_tab_blue@2x.png") center no-repeat;
  background-size: contain;
}
.tab-module .tab-nav .tab-item.hasnew a span:before {
  width: 0.55rem;
  height: 0.55rem;
  position: absolute;
  right: -.2rem;
  top: 28%;
  display: block;
  content: ' ';
  border-radius: 100%;
  background-color: #FE3F35;
}
.tab-module .tab-content {
  display: none;
}
.tab-module .tab-content.selected {
  display: block;
}

.tab-content {
  display: none;
}
.tab-content.selected {
  display: block;
}

.pop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.pop .bg-layer {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.pop .pop-wrap {
  width: 80%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 12px;
  overflow: hidden;
}
.pop .pop-wrap h4 {
  font-size: 16px;
  text-align: center;
  background: #FA5E71;
  color: #fff;
  padding: 6px 0;
}
.pop .pop-wrap h5 {
  font-size: 16px;
  font-weight: normal;
  color: #000;
  padding-bottom: 5px;
}
.pop .artic-cont {
  position: relative;
  height: auto;
  text-align: center;
  padding: 18px 15px;
  -webkit-user-select: none;
  user-select: none;
}
.pop .artic-cont:after {
  display: block;
  position: absolute;
  content: '\20';
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
}
.pop .artic-cont span {
  font-size: 14px;
}
.pop .artic-cont .input-text {
  width: 100%;
  border: solid 1px #d8d8d8;
  font-size: 14px;
  padding: 6px;
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
  -webkit-appearance: none;
  display: block;
}
.pop .operate-wrap {
  font-size: 0;
}
.pop .operate-wrap a {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-align: center;
  color: #FA5E71;
  padding: 10px 0;
}
.pop .operate-wrap a.default {
  color: #333;
}
.pop .operate-wrap a:first-child {
  position: relative;
}
.pop .operate-wrap a:first-child:after {
  display: block;
  position: absolute;
  content: '\20';
  left: 100%;
  bottom: 0;
  width: 1px;
  height: 100%;
  background: #d8d8d8;
}
.pop .operate-wrap a:last-child:after {
  display: none;
}
.pop .dialog-wrap-info .dialog-overlay {
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
}
.pop .dialog-content-info {
  width: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}
.pop .dialog-content-info .dialog-content-bd {
  padding: 0;
  margin: 0;
  position: relative;
  width: 140px;
  height: 140px;
  color: #fff;
  text-align: center;
}
.pop .dialog-content-info .dialog-content-bd .info-icon {
  max-width: 48px;
  margin: 20% 0 0;
}
.pop .dialog-content-info .dialog-content-bd .info-text {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 20px;
  margin: 0;
  font-size: 16px;
  white-space: nowrap;
}
.pop.dialog-wrap-tips .bg-layer {
  display: none;
}
.pop.dialog-wrap-tips .pop-wrap.dialog-content-tips {
  width: 50%;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 15px 0;
}
.pop .pop-actionsheet {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  background-color: #fff;
  -webkit-transition: transform .3s;
  transition: transform .3s;
  font-size: 13px;
}
.pop .pop-actionsheet.as-toggle {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.pop .pop-actionsheet .as-title {
  position: relative;
  line-height: 1rem;
  font-size: 15px;
  padding: 0.6rem 0.75rem;
}
.pop .pop-actionsheet .as-title:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: solid 1px #D8D8D8;
  -webkit-transform: scale(1, 0.5);
  transform: scale(1, 0.5);
}
.pop .pop-actionsheet .as-closed {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../../images/common_btn_close@3x.png") no-repeat;
  background-size: 100%;
  overflow: hidden;
  text-indent: -9999rem;
}
.pop .pop-actionsheet .as-btn {
  line-height: 2rem;
  margin: 0.75rem;
  display: block;
  background-color: #FA5E71;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
.pop .pop-actionsheet .as-info {
  position: relative;
  padding: 0.5rem 0.75rem 1rem;
  line-height: 28px;
}
.pop .pop-actionsheet .as-info dt {
  font-size: 14px;
}
.pop .pop-actionsheet .as-info dd {
  position: relative;
  padding-left: 16px;
}
.pop .pop-actionsheet .as-info dd:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -4px;
  width: 7px;
  height: 7px;
  border: solid 1px #333;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.regular-checkbox {
  display: none;
}
.regular-checkbox + label {
  position: relative;
  padding-left: 22px;
  height: 22px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}
.regular-checkbox + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  background: url("../../images/common_btn_choice_n@3x.png") no-repeat;
  background-size: 100%;
  border-radius: 100%;
  width: 22px;
  height: 22px;
}
.regular-checkbox:checked + label:before {
  background-image: url("../../images/common_btn_choice_s@3x.png");
}

@keyframes asFadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .artic-cont:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }

  .operate-wrap a:first-child:after {
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
  }
}
.blank-wrap {
  text-align: center;
  font-size: 0.65rem;
  color: #9b9b9b;
  padding-top: 2.8rem;
  background: #FFFFFF;
  min-height: 100vh;
  position: relative;
}
.blank-wrap img {
  width: 48%;
  max-width: 8.6rem;
}
.blank-wrap figcaption {
  margin: 2.25rem 0 1rem;
  padding: 0 5%;
  min-height: 2.7rem;
  font-size: 0.65rem;
}
.blank-wrap .comm-btn {
  width: 60% !important;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 0.8rem;
}

.tips-net {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  line-height: 30px;
  background: #505050;
  color: #fff;
  font-size: 13px;
  text-align: left;
}
.tips-net span {
  display: block;
  position: relative;
  background: url("../../images/common_icon_signal@3x.png") no-repeat left 8px;
  background-size: auto 13px;
  padding-left: 23px;
}
.tips-net span:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  right: 0;
  width: 8px;
  height: 13px;
  background: url("../../images/icon_arrow_right_white@2x.png") no-repeat;
  background-size: contain;
}

.full-vh {
  min-height: 100vh;
}

.is-ea .tab-module .tab-nav .tab-item.selected a {
  color: #FA5E71;
}
.is-ea .tab-module .tab-nav .tab-item.selected a span:after {
  background-image: url("../../images/icon_tab_red@2x.png");
}

.f-tac {
  text-align: center;
}

.f-tal {
  text-align: left;
}

.f-tar {
  text-align: right;
}

.bg-white {
  background: white;
}

.bg-gray {
  background-color: #f2f2f2;
}

.c-red {
  color: #FA5E71;
}

.c-62 {
  color: #626262;
}

.cf:after {
  content: "";
  clear: both;
  font-size: 0;
  height: 0;
  display: block;
  visibility: hidden;
}

/*
 *  clearfix float
 */
.clearfix {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  clear: both;
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #D8D8D8;
}

.bank {
  background-color: #f2f2f2;
  width: 100%;
  height: 1.05rem;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.none {
  display: none !important;
}

[v-cloak] {
  display: none !important;
}

[lazy="loaded"],
[lazy="error"] {
  animation: fadeIn .5s ease-in;
}

.comm-btn {
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #FA5E71;
  padding: 7px 10px;
  color: #FA5E71;
  margin-right: 15px;
  line-height: 1;
  min-width: 78px;
}
.comm-btn.gray-btn {
  border-color: #d8d8d8;
  color: #626262;
}
.comm-btn.gray-line {
  border-color: #B2B2B2;
  color: #B2B2B2;
}
.comm-btn.curr-btn {
  background: #FA5E71;
  color: #FFFFFF;
}
.comm-btn.set-gray {
  border: 0 none;
  background: #b2b2b2;
  color: #fff;
}

.base-pad {
  padding: 0.5rem 0.75rem;
}

.h-pad-20 {
  padding: 0 0.5rem;
}

.h-pad-30 {
  padding: 0 0.75rem;
}

.v-pad-20 {
  padding: 0.5rem 0;
}

.v-pad-30 {
  padding: 0.75rem 0;
}

.mt-20 {
  margin-top: 0.5rem;
}

.mb-20 {
  margin-bottom: 0.5rem;
}

.mb-10 {
  margin-bottom: 0.25rem;
}

.add-arrow {
  background: url("../../images/right_arrow@3x.png") no-repeat right center;
  background-size: 8px auto;
  padding-right: 18px;
}

.gongyi-shop {
  background: url("../../images/store_community@3x.png") no-repeat right bottom;
  background-size: contain;
}

.ht-goods {
  width: 23px;
  height: 14px;
  display: inline-block;
  vertical-align: text-bottom;
}

a[title="站长统计"] {
  display: none !important;
}

/*吐司提示*/
@-webkit-keyframes toastShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes toastHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.toast {
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #ffffff;
  min-height: 40px;
  max-width: 85%;
  font-size: 13px;
  line-height: 1.5;
  position: fixed;
  border-radius: 10px;
  z-index: 10000;
  opacity: 0;
  padding: 10px;
  left: 50%;
  top: 50%;
  display: inline-block;
  min-width: 50%;
  -webkit-transform: translate(-50%, 0);
}
.toast.show {
  -webkit-animation: toastShow .5s ease-out forwards;
}
.toast.hide {
  -webkit-animation: toastHide .5s ease-out forwards;
}

/* loading */
.loading {
  width: 100%;
  height: 100%;
  /*background-color: #eeeeee;*/
  position: fixed;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 1000;
}

.loading .img-out {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background-color: #d08686;
  border-radius: 100%;
  opacity: 0.9;
}

.loading .img-out img {
  display: block;
  width: 70%;
  height: auto;
  margin: 10px auto 0 auto;
}

.clear-x {
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  background: url("../../images/wallet/btn_card_key_clear.png") no-repeat center;
  background-size: 100% auto;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.bot-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 49px;
  background: #fff;
  font-size: 0;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 5px;
  z-index: 9999;
}
.bot-fixed:before {
  display: block;
  position: absolute;
  content: '\20';
  left: 0;
  bottom: 100%;
  width: 100%;
  height: 1px;
  background: #b2b2b2;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5);
}
.bot-fixed li {
  width: 33.333333%;
  font-size: 10px;
  display: inline-block;
  text-align: center;
  padding-top: 25px;
}
.bot-fixed li.navItem-1 {
  background: url("../../images/qylife/common_btn_home_n@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.navItem-1.n-focus {
  background: url("../../images/qylife/common_btn_home_s@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.navItem-2 {
  background: url("../../images/qylife/btn_nav_shoppingcar_n@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.navItem-2.n-focus {
  background: url("../../images/qylife/btn_nav_shoppingcar_s@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.navItem-3 {
  background: url("../../images/qylife/common_btn_order_n@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.navItem-3.n-focus {
  background: url("../../images/qylife/common_btn_order_s@3x.png") no-repeat center top;
  background-size: 24px auto;
}
.bot-fixed li.n-focus {
  color: #FA5E71;
}

.coupon-cont {
  background: url("../../images/pic_sawtooth_red@3x.png") no-repeat left center;
  background-size: auto 100%;
  padding-left: 0.15rem;
  height: 4.3rem;
  box-shadow: 2px 2px 4px 0 rgba(52, 52, 52, 0.2);
}
.coupon-cont .coupon-left {
  width: 4.475rem;
  height: 100%;
  text-align: center;
  background-image: linear-gradient(118deg, #FD97AA 0%, #FA5E71 96%);
  color: #fff;
}
.coupon-cont .coupon-left .coupon-amount {
  font-size: 1.6rem;
  display: inline-block;
  margin: 1rem 0 0.35rem;
  line-height: 1;
}
.coupon-cont .coupon-left .coupon-amount small {
  font-size: 1rem;
  margin-right: 2px;
}
.coupon-cont .coupon-left .coupon-usage {
  font-size: 0.55rem;
  line-height: 1;
}
.coupon-cont .coupon-right {
  position: relative;
  width: 10.375rem;
  height: 100%;
  background: #fff;
  padding: 0.5rem 0 0.2rem 0.5rem;
}
.coupon-cont .coupon-right .cr-top {
  height: 2.6rem;
  position: relative;
}
.coupon-cont .coupon-right .cr-top .tit-cont {
  font-size: 0.6rem;
  line-height: 1.4;
  color: #626262;
  padding-right: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  vertical-align: middle;
}
.coupon-cont .coupon-right .cr-top .tit-cont span {
  background: #FA5E71;
  color: #fff;
  width: 1.25rem;
  border-radius: 0.1rem;
  text-align: center;
  margin-right: 0.25rem;
  font-size: 0.45rem;
  padding: 0 0.15rem;
}
.coupon-cont .coupon-right .sbtn {
  display: block;
  border: 1px solid #FA5E71;
  font-size: 12px;
  color: #FA5E71;
  border-radius: 20px;
  padding: 0 0.25rem;
  line-height: 18px;
  text-align: center;
  float: right;
  position: absolute;
  right: 0.48rem;
  bottom: 0;
}
.coupon-cont .coupon-right .cr-bot {
  position: absolute;
  bottom: 0.2rem;
  width: 9.9rem;
  text-align: right;
}
.coupon-cont .coupon-right .cr-bot a {
  display: inline-block;
  font-size: 0.6rem;
  margin-right: 0.5rem;
}
.coupon-cont .coupon-right .cr-bot .use-time {
  font-size: 0.45rem;
  width: 100%;
  white-space: nowrap;
  text-align: left;
  line-height: 1.2;
  padding: 0 1rem 0 0;
  color: #b2b2b2;
  background: url("../../images/arrow_down_coupon@3x.png") no-repeat 8.95rem 0.45rem;
  background-size: 9px auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.coupon-cont .coupon-right .cr-bot .use-time.slide-up {
  background: url("../../images/arrow_up_coupon@3x.png") no-repeat 8.95rem 0.45rem;
  background-size: 9px auto;
}
.coupon-cont .coupon-right .cr-bot .use-time:before {
  width: 9.4rem;
  height: 1px;
  margin: 0.15rem 0;
  border-top: 0.05rem dashed #eee;
  visibility: visible;
}

.wrapper {
  -webkit-touch-action: none;
  touch-action: none;
}

.iscroll-con {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  min-height: 101%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.pullDown, .pullUp {
  height: 40px;
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #888;
  text-align: center;
  display: none;
}

.pullDown .pullDownIcon, .pullUp .pullUpIcon {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAACWUlEQVRoQ+2ZQU7DMBBFZwIKW7hBF0nKjiA13VJuACegnAB6AsoJ6A0oJwBOQNkmSMCyThbcALZEIoOMCKqAJrY7EalItx7b/813bI+LsOQ/XHL90ADMOthq+etrtv1c6GqWDabJ3YjLeVYHHKfTW7GsmyJxBHAqRDhcZoBrIcK9pQUAottpHPVqCdB2OsdgWWeF4uoM8PERr672ybLW50EQ0VUcRw+1dIBLlM44rLuQzsRcsawAntcdItFO4TaK+CJEuF9LgLYbTACxEEAKn4qQLXFsA0lhnhvcI6Jflt3XNN14enp4KYtTaWcFaHtdUpn0Lct2k+RuohJbFtMAzGZIHmRFZ0Aem6bpqJZLqMzuKtpZl1AVAsvGZAPYbPmtzLbPkGjuNSIXkwEMuK4TbACe191DgMuyjMl2zpqAE2CIACf/AoCzJvgTB2oJ4LpB3wLoKy0hxAlXXczmgIrwKmIagDyrchsFgC3FLD8KEV4pxhaGsTmgehPN1XDVBA1AnlFdB7iKGm0HHCf4UTKuIPiAqPfeSXT8RvDjeSVJoludb0MLwHUD30K815lANzYj2ta56GkBSDEfBxbiua4wlfiM6DCOo7FKbB6jDVAVhIl4qcUIgBvCVPxCALJz2w1GgHikY/n32EVrA2MHvk5gNxgj4oEJBBFdiDhSugDOG39hADmwZwDBIX7hJTSbFR0ILvGsAKpOcIpnByiD4BZfCcA8iCrEVwYg/2qybXuCn/UBAcj7f+mrtclOxrIL/TZxDiHb0jTtcb2Ffp+rMgCTbJr0aQBMssbZ5x0jdQNAR+TKsgAAAABJRU5ErkJggg==") 0 0 no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}

.pullDown .pullDownLabel, .pullUp .pullUpLabel {
  height: 20px;
  vertical-align: middle;
  display: inline-block;
}

.pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

.pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0);
}

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}
.isbrowser .header-wrap {
  display: block;
}

.isnative .hd-fixed ~ .container {
  padding-top: 0 !important;
}

.header-wrap {
  position: relative;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  background: #fff;
  border-bottom: solid 1px #d8d8d8;
  text-align: center;
  overflow: hidden;
  padding: 0 44px;
  display: none;
}
.header-wrap.no-border {
  border-bottom: none;
}
.header-wrap.skin1 {
  padding-left: 15px;
  padding-right: 52px;
}
.header-wrap.skin2 {
  padding-right: 15px;
}
.header-wrap .go-back, .header-wrap .go-home {
  min-width: 44px;
  height: 44px;
  display: block;
  position: absolute;
  top: 0;
  font-size: 14px;
}
.header-wrap .go-back img, .header-wrap .go-home img {
  width: 12px;
}
.header-wrap .go-back {
  left: 0;
  text-align: center;
}
.header-wrap .go-home {
  right: 0;
  padding-right: 15px;
  text-align: right;
}
.header-wrap .go-search {
  position: absolute;
  right: 4.7%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #b2b2b2;
}
.header-wrap .go-search.ipt-focus {
  color: #333;
}

.icon-back:before {
  content: "\e664";
  font-size: 22px;
}

.icon-cart {
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.icon-cart:before {
  content: "\e670";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}
.icon-cart sup {
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-color: #FE3F35;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  color: #fff;
}
.icon-cart sup span {
  height: 100%;
  display: block;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
}

.hd-search {
  position: relative;
  padding: 0 0.5rem 0 30px;
  margin-top: 7px;
  height: 30px;
  line-height: 30px;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-size: 12px;
  color: #9B9B9B;
  text-align: left;
}
.hd-search:after {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\e66b";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.hd-search input[type='text'], .hd-search input[type='search'] {
  height: 100%;
  line-height: 100%;
  width: 88%;
  background: none;
  color: #333;
}
.hd-search input[type='text']::-webkit-input-placeholder, .hd-search input[type='search']::-webkit-input-placeholder {
  color: #b2b2b2;
}

.hd-notice {
  position: relative;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  color: #9b9b9b;
}
.hd-notice:before {
  content: "\e66e";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}
.hd-notice sup {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 14px;
  height: 14px;
  background-color: #FE3F35;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  font-style: normal;
  color: #fff;
  overflow: hidden;
  text-indent: -999em;
  border: solid 2px #fff;
}

.hd-fixed {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 9999;
}
.hd-fixed ~ .container {
  padding-top: 44px !important;
}

@media screen and (min-width: 480px) {
  .hd-fixed ~ .container {
    padding-top: 66px !important;
  }

  .header-wrap {
    height: 66px;
    line-height: 66px;
    font-size: 21px;
  }
  .header-wrap.skin1 {
    padding-left: 20px;
    padding-right: 66px;
  }
  .header-wrap.skin2 {
    padding-right: 20px;
    padding-left: 66px;
  }
  .header-wrap .go-back, .header-wrap .go-home {
    min-width: 66px;
    height: 66px;
    font-size: 16px;
  }
  .header-wrap .go-home {
    padding-right: 20px;
  }

  .hd-search {
    margin-top: 12px;
    height: 41px;
    line-height: 41px;
    font-size: 17px;
    padding-left: 36px;
    border-radius: 21px;
  }
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .hd-fixed ~ .container {
    padding-top: 57px !important;
  }

  .header-wrap {
    height: 57px;
    line-height: 57px;
    font-size: 21px;
    padding: 0 57px;
  }
  .header-wrap.skin1 {
    padding-left: 20px;
    padding-right: 62px;
  }
  .header-wrap.skin2 {
    padding-right: 20px;
    padding-left: 57px;
  }
  .header-wrap .go-back, .header-wrap .go-home {
    min-width: 57px;
    height: 57px;
    font-size: 16px;
  }
  .header-wrap .go-home {
    padding-right: 20px;
  }

  .hd-search {
    padding-left: 30px;
    margin-top: 8px;
    height: 41px;
    line-height: 41px;
    font-size: 15px;
    border-radius: 21px;
  }
}
@media screen and (min-width: 375px) and (max-width: 413px) {
  .hd-fixed ~ .container {
    padding-top: 51px !important;
  }

  .header-wrap {
    height: 51px;
    line-height: 51px;
    font-size: 21px;
    padding: 0 51px;
  }
  .header-wrap.skin1 {
    padding-left: 16px;
    padding-right: 54px;
  }
  .header-wrap.skin2 {
    padding-right: 19px;
  }
  .header-wrap .go-back, .header-wrap .go-home {
    min-width: 51px;
    height: 51px;
    font-size: 16px;
  }
  .header-wrap .go-home {
    padding-right: 16px;
  }

  .hd-search {
    padding-left: 30px;
    margin-top: 8px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    border-radius: 18px;
  }
}
.isbrowser .footer-wrap {
  display: block;
}

/* 底部悬浮 */
.ft-fixed {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  box-sizing: content-box;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}
.ft-fixed ~ .container {
  padding-bottom: 2.45rem !important;
}

.footer-wrap {
  height: 2.45rem;
  background-color: #fff;
  border-top: solid 1px #d8d8d8;
  display: none;
}
.footer-wrap li {
  float: left;
  width: 25%;
  height: 2.45rem;
  font-size: 0.5rem;
  text-align: center;
  padding-top: 4px;
  line-height: 1.3;
}
.footer-wrap li.active {
  color: #FF0A31;
}
.footer-wrap li.active .ui-nav1:before {
  content: "\e676";
}
.footer-wrap li.active .ui-nav4:before {
  content: "\e673";
}
.footer-wrap li.active .ui-nav5:before {
  content: "\e669";
}
.footer-wrap .ui-nav1, .footer-wrap .ui-nav2, .footer-wrap .ui-nav3, .footer-wrap .ui-nav4, .footer-wrap .ui-nav5 {
  font-size: 1.2rem;
  line-height: 1.2;
}
.footer-wrap .ui-nav1:before {
  content: "\e675";
}
.footer-wrap .ui-nav2:before {
  content: "\e66c";
}
.footer-wrap .ui-nav3:before {
  content: "\e672";
}
.footer-wrap .ui-nav4:before {
  content: "\e670";
}
.footer-wrap .ui-nav5:before {
  content: "\e66f";
}

@font-face {
  font-family: "iconfont";
  src: url("../../font/iconfont.eot?t=1506073728638");
  /* IE9*/
  src: url("../../font/iconfont.eot?t=1506073728638#iefix") format("embedded-opentype"), url("../../font/iconfont.woff?t=1506073728638") format("woff"), url("../../font/iconfont.ttf?t=1506073728638") format("truetype"), url("../../font/iconfont.svg?t=1506073728638#iconfont") format("svg");
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.panel {
  position: relative;
  background-color: #FFFFFF;
}
.panel:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  z-index: 2;
  border-top: solid 1px #d8d8d8;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.panel:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-bottom: solid 1px #d8d8d8;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.panel .cell:before, .panel .panel-hd:before {
  left: 15px;
}

.panel-hd {
  position: relative;
  padding: 10px 15px;
}
.panel-hd:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: solid 1px #d8d8d8;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.panel-bd {
  padding: 10px 15px;
}

.cell {
  position: relative;
  padding: 10px 15px;
  background-color: #FFFFFF;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  overflow: hidden;
  -webkit-transition: transform .3s;
  transition: transform .3s;
}
.cell:last-child:before {
  display: none;
}
.cell:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  border-bottom: solid 1px #d8d8d8;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}

.cell-bd {
  position: relative;
  z-index: 1;
}

.searchbar {
  position: relative;
  height: 29px;
  line-height: 29px;
  font-size: 12px;
}

.search {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 29px;
  color: #8F8F90;
  padding-left: 15px;
  padding-right: 29px;
}
.search:after {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\e66b";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.search input[type='text'], .search input[type='search'] {
  height: 100%;
  line-height: 100%;
  width: 100%;
  background: none;
  padding-left: 15px;
}

.search-closed {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 29px;
  text-align: center;
}
.search-closed:before {
  content: "\e658";
  font-family: "iconfont" !important;
  font-style: normal;
}

.search-btn {
  margin-left: 15px;
}

.search-label {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  border-radius: 29px;
  background-color: #f7f7f7;
  color: #8F8F90;
}
.search-label > span {
  position: relative;
  padding-left: 1.5em;
  margin: 0 10px;
}
.search-label > span:after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "\e66b";
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article {
  padding: 10px 15px;
  font-size: 13px;
}
.article p {
  margin-bottom: 10px;
}

/*# sourceMappingURL=global.css.map */
