.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
}
.slider-container.swiper-container-vertical {
  height: auto;
}
.slider-container.swiper-container-vertical .slider-wrapper {
  width: auto;
  height: auto;
  white-space: normal;
}
.slider-container.swiper-container-vertical .slider-wrapper .slider-item {
  display: block;
}

.slider-wrapper {
  transition-property: transform;
  white-space: nowrap;
  font-size: 0;
  text-align: left;
  height: 100%;
}

.slider-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  vertical-align: top;
  background: transparent !important;
}

.slider-item img {
  width: 100%;
  height: 100%;
}

.m-carousel-controls {
  position: absolute;
  background-color: transparent;
  padding: 0;
  font-size: 0;
  width: auto;
  right: 0.75rem;
  bottom: 0.25rem;
  -webkit-transform: translateX(0);
  left: auto;
  z-index: 99;
}

.m-carousel-bulleted a {
  display: inline-block;
  padding: 0;
  width: 4px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 3px;
  border: 1px solid #979797;
}
.m-carousel-bulleted a:last-child {
  margin-right: 0;
}

.m-carousel-bulleted a.m-active {
  background-color: #fff;
  border: 0 none;
}

#app .swiper-container-vertical {
  height: 100%;
}

body {
  font-size: 14px;
  background: #f2f2f2;
  width: 16rem;
  margin: 0 auto;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}

.base-pad {
  padding: 0.5rem 0.75rem;
}

.pad-30 {
  padding: 0.75rem;
}

.part-top {
  background: url("../../../images/img/me_bg@3x.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  padding-top: 0.425rem;
}

.invite-code {
  width: 6.55rem;
  height: 6.55rem;
  border: 0.25rem solid rgba(251, 94, 115, 0.4);
  border-radius: 50%;
  margin: 0 auto 0.5rem;
  text-align: center;
  position: relative;
}
.invite-code .code-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.invite-code .code-cont span {
  color: #626262;
  font-size: 12px;
  line-height: 1.25;
}
[data-dpr="2"] .invite-code .code-cont span {
  font-size: 24px;
}
[data-dpr="3"] .invite-code .code-cont span {
  font-size: 36px;
}
.invite-code .code-cont .code-num {
  color: #FA5E71;
  line-height: 1;
  font-size: 24px;
}
[data-dpr="2"] .invite-code .code-cont .code-num {
  font-size: 48px;
}
[data-dpr="3"] .invite-code .code-cont .code-num {
  font-size: 72px;
}

.invited {
  text-align: center;
  font-size: 13px;
  color: #000;
  padding-bottom: 0.75rem;
}
[data-dpr="2"] .invited {
  font-size: 26px;
}
[data-dpr="3"] .invited {
  font-size: 39px;
}

.code-usage {
  padding: 0.75rem 0.75rem 0;
  background: #fff;
}
.code-usage dt {
  color: #3e3e3e;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.code-usage dd {
  color: #626262;
  font-size: 13px;
  line-height: 1.6;
}
[data-dpr="2"] .code-usage dd {
  font-size: 26px;
}
[data-dpr="3"] .code-usage dd {
  font-size: 39px;
}
.code-usage .usage-img {
  text-align: center;
  margin-top: 1rem;
}
.code-usage .usage-img img {
  width: 72.65625%;
}

.i-share-wrap {
  width: 100%;
  background: url("../../../images/img/share_bg.jpg") no-repeat center;
  background-size: cover;
  padding: 0.8rem 1rem;
}

.inv-share {
  background: #FFFFFF;
  text-align: center;
  padding: 1.25rem 1.2rem 0;
  color: #626262;
}
.inv-share h2 {
  font-size: 18px;
  color: #FA5E71;
  font-weight: bold;
}
[data-dpr="2"] .inv-share h2 {
  font-size: 36px;
}
[data-dpr="3"] .inv-share h2 {
  font-size: 54px;
}
.inv-share p {
  text-align: left;
  margin: 0.75rem auto;
  width: 90%;
}
.inv-share a {
  display: block;
  margin-bottom: 0.75rem;
}
.inv-share .user-img {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 0.75rem;
}
.inv-share .code-label {
  color: #333;
}
.inv-share .code-num {
  color: #FA5E71;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  margin: 0.25rem 0 0.5rem;
}
[data-dpr="2"] .inv-share .code-num {
  font-size: 48px;
}
[data-dpr="3"] .inv-share .code-num {
  font-size: 72px;
}
.inv-share .copy-code {
  text-decoration: underline;
  color: #626262;
}

.pop .tips-cont {
  width: 100%;
  position: absolute;
  z-index: 99;
  padding: 0.75rem 0.5rem;
  text-align: right;
}
.pop .tips-cont img {
  width: 60%;
}

.ea-share {
  background: url("../../../images/share/share.jpg") no-repeat top center;
  background-size: 100%;
  background-color: #86aa96;
  padding: 18.75rem 0.5rem 0.5rem;
}
.ea-share .inv-share {
  border-radius: 6px;
  padding: 0 0.825rem 1.05rem;
}
.ea-share .inv-share h2 {
  height: 1.625rem;
}
.ea-share .inv-share h2 img {
  height: 100%;
  vertical-align: top;
  margin-top: -0.8rem;
}
.ea-share .inv-share .code-label {
  color: #9B9B9B;
  font-size: 0.6rem;
}
.ea-share .inv-share .code-num {
  font-size: 1.2rem;
  color: #FF4F4B;
}
.ea-share .inv-share .copy-code {
  font-size: 0.65rem;
  color: #B49964;
}

.ea-friend {
  background: url("../../../images/share/pic1_app.jpg") no-repeat top center;
  background-size: 100%;
  height: 21rem;
  padding-top: 2.4rem;
}
.ea-friend .invite-code {
  border: 0.225rem solid white;
  margin: 0 auto 0.5rem;
}
.ea-friend .invite-code .code-cont .code-num {
  color: #EC4A5A;
  font-size: 1rem;
}
.ea-friend .invite-code .code-cont span {
  font-size: 0.5rem;
  color: #71A78C;
}
.ea-friend .invited {
  font-size: 0.6rem;
  color: #517E67;
}

.box-sty {
  background: white;
}

.no-tit:before {
  content: '';
  display: block;
  width: 100%;
  height: 0.95rem;
  background: #fff;
}
.no-tit .top-ad {
  display: none;
}

.tpl-ty.no-tit .shop-tit, .tpl-sm.no-tit .shop-tit, .tpl-my.no-tit .shop-tit, .tpl-sp.no-tit .shop-tit, .tpl-mz.no-tit .shop-tit {
  border-top: 0 none;
}
.tpl-ty .goods-img .lt-tag, .tpl-sm .goods-img .lt-tag, .tpl-my .goods-img .lt-tag, .tpl-sp .goods-img .lt-tag, .tpl-mz .goods-img .lt-tag {
  left: 0;
  top: 0;
}
.tpl-ty .rb-tag, .tpl-sm .rb-tag, .tpl-my .rb-tag, .tpl-sp .rb-tag, .tpl-mz .rb-tag {
  min-height: 18px;
}

.top-ad,
.tab-ad {
  width: 100%;
  height: 5rem;
}
.top-ad img,
.tab-ad img {
  width: 100%;
  height: 100%;
}

.shop-tit {
  position: relative;
}
.shop-tit .shop-logo {
  position: absolute;
  left: 0.75rem;
  top: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #eee;
  z-index: 9;
  -webkit-transform: translateZ(1rem);
  transform: translateZ(1rem);
}
.shop-tit .shop-logo img {
  width: 100%;
  height: 100%;
}
.shop-tit .shop-desc {
  width: 8.45rem;
  margin-left: 3.75rem;
  padding: 0.35rem 0 0.35rem;
  min-height: 2.45rem;
}
.shop-tit .shop-desc h3 {
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 1.25;
  margin-bottom: 0.2rem;
}
.shop-tit .shop-desc h3 span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 7.2rem;
  vertical-align: middle;
}
.shop-tit .shop-desc h3 span.haitao {
  background: url(../../../images/tips_overseas@3x.png) no-repeat right center;
  background-size: auto 14px;
  padding-right: 1.75rem;
}
.shop-tit .shop-desc h3 i {
  width: 0.8rem;
  height: 0.8rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25rem;
}
.shop-tit .shop-desc p {
  font-size: 12px;
  line-height: 1;
  color: #888;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
[data-dpr="2"] .shop-tit .shop-desc p {
  font-size: 24px;
}
[data-dpr="3"] .shop-tit .shop-desc p {
  font-size: 36px;
}
.shop-tit .mark {
  position: absolute;
  top: 0.625rem;
  right: 0.75rem;
}
.shop-tit .mark .mark-btn {
  display: inline-block;
  width: 2.6rem;
  height: 1.25rem;
  border-radius: 2px;
  background: #FA5E71;
  color: white;
  font-size: 0.6rem;
  text-align: center;
  line-height: 1.25rem;
}
.shop-tit .mark .mark-btn.marked {
  border: 1px solid #999 !important;
  background: none !important;
  color: #999 !important;
  line-height: 1.2rem !important;
}

.scroll-msg {
  background: #f7f7f7;
  border-bottom: 1px solid #eee;
  padding: 0.375rem 0.75rem;
}
.scroll-msg .left-icon {
  width: 0.7rem;
  height: 0.75rem;
  font-size: 0;
  margin-right: 0.5rem;
  background: url("../../../images/store_notice@3x.png") no-repeat center;
  background-size: contain;
}
.scroll-msg .left-icon img {
  width: 100%;
  height: 100%;
}
.scroll-msg .msg-cont {
  width: 13.3rem;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.6rem;
  height: 0.75rem;
}

.shop-details {
  position: relative;
}
.shop-details nav {
  height: 41px;
}
.shop-details nav.fix-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.shop-details .tab-cont {
  position: relative;
}
.shop-details .blank-wrap {
  text-align: center;
  color: #b2b2b2;
  padding-top: 4rem;
  background: #FFFFFF;
}
.shop-details .blank-wrap figcaption {
  font-size: 0.65rem;
  line-height: 0.9rem;
}

.sort-menu {
  width: 100%;
  z-index: 10;
  background: white;
  font-size: 0;
  color: #3e3e3e;
  max-height: 156px;
  overflow-y: scroll;
}
.sort-menu em {
  display: inline-block;
  text-align: center;
  width: 33.333333%;
  font-size: 13px;
  padding: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
[data-dpr="2"] .sort-menu em {
  font-size: 26px;
}
[data-dpr="3"] .sort-menu em {
  font-size: 39px;
}
.sort-menu em.slt-menu {
  color: #FA5E71;
}
.sort-menu::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.pop-sort {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 8;
  border-top: 1px solid #eee;
}
.pop-sort.fix-popsort {
  position: fixed;
  width: 100%;
  top: 89;
  left: 0;
  z-index: 99;
}

.store-tab {
  background: white;
  width: 100%;
  border-bottom: 1px solid #eee;
}
.store-tab li {
  width: 33.33333%;
  float: left;
  text-align: center;
}
.store-tab li span {
  display: inline-block;
  position: relative;
}
.store-tab li.active-tab {
  color: #FA5E71;
}
.store-tab li.active-tab span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 24%;
  width: 52%;
  height: 2px;
  background: #FA5E71;
  border-radius: 2px 2px 0 0;
}
.store-tab.col-4 {
  width: 100%;
}
.store-tab.col-4 li {
  width: 25%;
  float: left;
  text-align: center;
}
.store-tab.col-4 li span {
  display: inline-block;
  position: relative;
}
.store-tab.col-4 li.active-tab {
  color: #FA5E71;
}
.store-tab.col-4 li.active-tab span:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 24%;
  width: 52%;
  height: 2px;
  background: #FA5E71;
  border-radius: 2px 2px 0 0;
}
.store-tab span {
  line-height: 1;
  padding: 13px 0;
}

.sale-msg {
  padding: 0.6rem 0.75rem;
}
.sale-msg .sale-icon {
  border-radius: 2px;
  color: white;
  background: #FA5E71;
  line-height: 1;
  padding: 2px;
  font-size: 12px;
  width: 16px;
  margin-right: 0.4rem;
}
[data-dpr="2"] .sale-msg .sale-icon {
  font-size: 24px;
}
[data-dpr="3"] .sale-msg .sale-icon {
  font-size: 36px;
}
.sale-msg .sm-desc {
  width: 13rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 16px;
  line-height: 16px;
}

.coupon-wrap {
  padding: 0.475rem 0;
  height: 4.6rem;
  overflow: hidden;
}
.coupon-wrap ul {
  overflow-x: scroll;
  white-space: nowrap;
  padding: 2px;
  height: 5rem;
}
.coupon-wrap ul::-webkit-scrollbar {
  height: 0;
  background: transparent;
}
.coupon-wrap li {
  display: inline-block;
  white-space: normal;
  margin-right: 0.75rem;
  font-size: 0;
  position: relative;
  width: 8.225rem;
  padding: 0.2rem 0.45rem;
  background: #ffecee;
  border: 1px solid #f7a0ab;
  border-radius: 4px;
  box-shadow: 2px 0 0 #ffecee,0 2px 0 #ffecee,-2px 0 0 #ffecee,0 -2px 0 #ffecee;
}
.coupon-wrap li .mask-circle {
  position: absolute;
  left: -3px;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  background: white;
  width: 6px;
  height: 12px;
  border-radius: 0 6px 6px 0;
  box-shadow: 2px 0 0 #ffecee,3px 0 0 #f7a0ab;
}
.coupon-wrap li .face-val {
  color: #FA5E71;
  line-height: 1;
}
.coupon-wrap li .face-val i {
  font-style: normal;
  font-size: 0.85rem;
}
.coupon-wrap li .face-val span {
  font-size: 1.45rem;
}
.coupon-wrap li .c-left {
  width: 5rem;
  font-size: 0.55rem;
  text-align: center;
}
.coupon-wrap li .c-left .usage {
  display: block;
  color: #5b5b5b;
  line-height: 1;
  padding: 0.2rem 0;
}
.coupon-wrap li .c-left .deadline {
  color: #888;
  line-height: 1;
}
.coupon-wrap li .c-right {
  border-left: 1px solid #f7a0ab;
}
.coupon-wrap li .c-right span {
  display: inline-block;
  font-size: 0.65rem;
  color: #FA5E71;
  width: 1.375rem;
  margin: 0 0 0 0.5rem;
  padding: 0.5rem 0;
}
.coupon-wrap li.sty-blue {
  border-color: #b3c8e2;
  background: #f9fcff;
  box-shadow: 2px 0 0 #f9fcff,0 2px 0 #f9fcff,-2px 0 0 #f9fcff,0 -2px 0 #f9fcff;
}
.coupon-wrap li.sty-blue .mask-circle {
  box-shadow: 2px 0 0 #f9fcff,3px 0 0 #b3c8e2;
}
.coupon-wrap li.sty-blue .c-right {
  border-left: 1px solid #b3c8e2;
}
.coupon-wrap li:first-child {
  margin-left: 0.75rem;
}

.no-goods {
  text-align: center;
  color: #888;
  line-height: 100%;
}
.no-goods:before, .no-goods:after {
  content: '';
  display: inline-block;
  width: 2.075rem;
  height: 1px;
  background: #B2B2B2;
  vertical-align: middle;
}
.no-goods span {
  vertical-align: middle;
  font-size: 12px;
}
[data-dpr="2"] .no-goods span {
  font-size: 24px;
}
[data-dpr="3"] .no-goods span {
  font-size: 36px;
}

.no-more-goods {
  text-align: center;
  color: #888;
  font-size: 12px;
}
[data-dpr="2"] .no-more-goods {
  font-size: 24px;
}
[data-dpr="3"] .no-more-goods {
  font-size: 36px;
}

.goods-img {
  position: relative;
  text-align: center;
}
.goods-img .lt-tag {
  position: absolute;
  font-size: 10px;
}
[data-dpr="2"] .goods-img .lt-tag {
  font-size: 20px;
}
[data-dpr="3"] .goods-img .lt-tag {
  font-size: 30px;
}
.goods-img .lt-tag {
  color: white;
  background: #e94943;
  padding: 0 0.075rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 64px;
}

.rb-tag {
  color: #FA5E71;
  font-size: 0;
  white-space: nowrap;
  text-align: left;
  font-size: 10px;
  margin-top: 3px;
}
[data-dpr="2"] .rb-tag {
  font-size: 20px;
}
[data-dpr="3"] .rb-tag {
  font-size: 30px;
}
.rb-tag span {
  display: inline-block;
  background: rgba(255, 255, 255, 0.9);
  min-width: 23px;
  border: 1px solid #FA5E71;
  font-size: 11px;
  height: 15px;
  line-height: 130%;
  vertical-align: middle;
  margin-right: 0.1rem;
  padding: 0 0.1rem;
  text-align: center;
}
[data-dpr="2"] .rb-tag span {
  font-size: 22px;
}
[data-dpr="3"] .rb-tag span {
  font-size: 33px;
}
.rb-tag span:last-child {
  margin-right: 0;
}

.goods-list {
  padding: 0.5rem 0.25rem 0;
}
.goods-list li {
  width: 33.333333333%;
  float: left;
  padding: 0 0.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.goods-list li .goods-img {
  width: 100%;
  height: 4.65rem;
}
.goods-list li .goods-img img {
  width: 100%;
  height: 100%;
}
.goods-list .prod-info {
  padding: 0 0.25rem;
}
.goods-list .prod-info .pt-cont {
  min-height: 54px;
}
.goods-list .prod-info .prod-tit {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
  color: #626262;
  line-height: 1.4;
  font-size: 13px;
  text-align: left;
  min-height: 36px;
}
[data-dpr="2"] .goods-list .prod-info .prod-tit {
  font-size: 26px;
}
[data-dpr="3"] .goods-list .prod-info .prod-tit {
  font-size: 39px;
}
.goods-list .prod-info .prod-price {
  color: #FA5E71;
  font-weight: normal;
}
.goods-list .prod-info .price {
  text-align: left;
  line-height: 1;
}
.goods-list .prod-info .price .orig-price {
  display: block;
  text-decoration: line-through;
  color: #9b9b9b;
  font-size: 0.5rem;
}
.goods-list .prod-info .price .sales {
  color: #888;
  font-size: 10px;
  line-height: 1.3;
}
.goods-list.col-2 li {
  width: 50%;
}
.goods-list.col-2 li .goods-img {
  height: 7.25rem;
}
.goods-list.col-2.show-h {
  padding: 0 0 0 0.75rem;
  background: #fff;
}
.goods-list.col-2.show-h li {
  padding: 0.5rem 0.75rem 0.5rem 0;
  width: 100%;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}
.goods-list.col-2.show-h li .goods-img {
  float: left;
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 0.5rem;
}
.goods-list.col-2.show-h li .goods-img .rb-tag {
  left: 5rem;
  bottom: 0.125rem;
  border: 0 none;
}
.goods-list.col-2.show-h li .goods-img .rb-tag span {
  border: 1px solid #FA5E71;
  border-radius: 2px;
  height: 15px;
  line-height: 14px;
  margin-right: 0.5rem;
  padding: 0 0.15rem;
}
.goods-list.col-2.show-h li .prod-info {
  float: left;
  width: 9.5rem;
}
.goods-list.col-2.show-h li .prod-tit {
  margin-top: 0;
}
.goods-list.col-2.show-h li .price {
  padding-top: 0.3rem;
  min-height: inherit;
}
.goods-list.col-2.show-h li .price .prod-price {
  margin-right: 0.25rem;
  font-size: 15px;
}
.goods-list.col-2.show-h li .price .orig-price {
  display: inline;
}
.goods-list.col-2.show-h li:last-child {
  border-bottom: 0 none;
}
.goods-list.col-2.show-h .cart {
  display: none;
}

.item-wrap .head-tit {
  position: relative;
  padding: 0.625rem 0.75rem;
  border-bottom: 1px solid #eee;
  line-height: 1.2;
}
.item-wrap .head-tit span {
  font-size: 0.7rem;
}
.item-wrap .head-tit a {
  font-size: 0.6rem;
  color: #888;
}
.item-wrap .head-tit .add-arrow {
  background-size: auto 13px;
  padding-right: 0.65rem;
}

.tuiguang {
  background: white;
  border: 1px solid #faa7b1;
  position: relative;
}
.tuiguang .tg-stat {
  position: absolute;
  right: 0;
  top: 0;
  width: 1.2rem;
  height: 1.2rem;
  background: url("../../../images/tpl/common_popularize copy 2@3x.png") no-repeat;
  background-size: contain;
}

.shop-ad {
  width: 100%;
  height: 4rem;
}
.shop-ad img {
  width: 100%;
  height: 100%;
}

.sort-tab {
  position: relative;
  width: 100%;
  background: white;
}
.sort-tab li {
  width: 33.33333%;
  float: left;
  text-align: center;
}
.sort-tab li span {
  display: inline-block;
  position: relative;
}
.sort-tab li.active-tab {
  color: #FA5E71;
}
.sort-tab.fix-tabsort {
  position: fixed;
  width: 100%;
  top: 50;
  left: 0;
  z-index: 99;
}
.sort-tab ul {
  width: 92%;
}
.sort-tab li {
  color: #888;
  font-size: 13px;
}
[data-dpr="2"] .sort-tab li {
  font-size: 26px;
}
[data-dpr="3"] .sort-tab li {
  font-size: 39px;
}
.sort-tab li span {
  margin: 12px 0;
  padding-right: 0.5rem;
  line-height: 1;
  background: url("../../../images/common_arrow_sort_n@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.sort-tab li span.sort-down {
  background: url("../../../images/common_arrow_sort_down@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.sort-tab li span.sort-up {
  background: url("../../../images/common_arrow_sort_up@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.sort-tab li:first-child span {
  background: url("../../../images/tpl/arrow_down_gray_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.sort-tab li:first-child.active-tab span {
  background: url("../../../images/tpl/arrow_up_red_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.sort-tab .ext-menu {
  position: absolute;
  right: 0.75rem;
  top: 12px;
  width: 14px;
  height: 13px;
  background: url("../../../images/icon_viewer_v@3x.png") no-repeat center;
  background-size: contain;
}
.sort-tab .ext-menu.m-h {
  background: url("../../../images/icon_viewer_h@3x.png") no-repeat center;
  background-size: contain;
}

.tab-2 .box-sty,
.tab-3 .box-sty {
  border-top: 0 none;
}
.tab-2 .item-wrap,
.tab-3 .item-wrap {
  border-bottom: 0 none;
}

.goods-more {
  position: absolute;
  right: 0.75rem;
  padding: 0;
  font-size: 0;
  line-height: 1;
  top: 50%;
  transform: translateY(-50%);
}
.goods-more .add-arrow {
  background: url("../../../images/right_arrow@3x.png") no-repeat right center;
  background-size: auto 80%;
  padding-right: .6rem;
}

.android .goods-more .add-arrow {
  background-position: right 0;
}

.tab-4 {
  background: #fff;
}

.my-photo {
  background: #fff;
  width: 100%;
  margin-bottom: 0.75rem;
}
.my-photo img {
  width: 100%;
  height: 100%;
}

.my-story {
  background: #fff;
  padding: 0 0.75rem 0.75rem;
}
.my-story h3 {
  font-size: 15px;
  font-weight: 600;
}
[data-dpr="2"] .my-story h3 {
  font-size: 30px;
}
[data-dpr="3"] .my-story h3 {
  font-size: 45px;
}
.my-story p {
  text-indent: 2em;
  word-break: break-all;
  white-space: pre-wrap;
}

.goods-tips {
  background: #F7F7F7;
  padding: 0.45rem 0.75rem;
  font-size: 0;
  position: relative;
}
.goods-tips span {
  background: url("../../../images/tpl/store_icon_attention_d@3x.png") no-repeat left center;
  background-size: 12px 12px;
  padding: 0 10px 0 17px;
  display: inline-block;
  font-size: 12px;
  line-height: 1.4;
}
[data-dpr="2"] .goods-tips span {
  font-size: 24px;
}
[data-dpr="3"] .goods-tips span {
  font-size: 36px;
}
.goods-tips .x {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  margin-top: -4px;
  display: block;
  width: 9px;
  height: 9px;
  background: url("../../../images/icon_close@2x.png") no-repeat;
  background-size: contain;
}

.ht-goods {
  margin-right: 2px;
}

.tpl-ty .shop-tit {
  border-bottom: 1px solid #f7f7f7;
}
.tpl-ty .scroll-msg, .tpl-ty .coupon-wrap {
  border-bottom: 0 none;
}
.tpl-ty .sale-msg {
  border-bottom: 1px solid #eee;
}
.tpl-ty .sale-msg, .tpl-ty .coupon-wrap, .tpl-ty .item-wrap {
  border-top: 0 none;
}
.tpl-ty .coupon-wrap {
  padding: 0.5rem 0;
  height: 3.75rem;
}
.tpl-ty .coupon-wrap ul {
  height: 4.5rem;
}
.tpl-ty .coupon-wrap li {
  margin-right: 0.25rem;
  width: 5.8rem;
  padding: 0.1rem 0.2rem;
}
.tpl-ty .coupon-wrap li .face-val i {
  font-size: 0.65rem;
}
.tpl-ty .coupon-wrap li .face-val span {
  font-size: 1.15rem;
}
.tpl-ty .coupon-wrap li .c-left {
  width: 4rem;
  font-size: 0.45rem;
}
.tpl-ty .coupon-wrap li .c-left .usage {
  padding: 0.1rem 0;
}
.tpl-ty .coupon-wrap li .c-right span {
  font-size: 0.5rem;
  width: 1.05rem;
  margin: 0 0 0 0.2rem;
  padding: 0.375rem 0;
}
.tpl-ty .coupon-wrap li:first-child {
  margin-left: 0.5rem;
}
.tpl-ty .pt-cont {
  margin: 5px 0 !important;
}
.tpl-ty .rb-tag span {
  border-radius: 0.1rem;
}
.tpl-ty .prod-tit {
  margin: 0 !important;
}
.tpl-ty .goods-list.col-2.show-h li .price {
  padding-top: 0;
}
.tpl-ty .goods-list.col-2.show-h li .prod-tit {
  margin-bottom: 0.5rem !important;
}
.tpl-ty .no-goods {
  margin-top: 0.5rem;
}
.tpl-ty .item-wrap .head-tit {
  position: relative;
  text-align: center;
}

.tpl-mz.no-tit:before {
  background: #fef0f0;
}
.tpl-mz.no-tit .shop-tit {
  background: url("../../../images/tpl/bg2@3x.png") no-repeat center #fef0f0;
  background-size: contain;
}
.tpl-mz .box-sty {
  background: #fef0f0;
}
.tpl-mz .goods-tips span {
  background: url("../../../images/tpl/beauty_attention_d@3x.png") no-repeat left center;
  background-size: 12px 12px;
}
.tpl-mz .shop-tit {
  background: url("../../../images/tpl/bg1@3x.png") no-repeat center;
  background-size: cover;
}
.tpl-mz .shop-desc {
  color: #554c4f;
}
.tpl-mz .mark .mark-btn {
  background: #3e3e3e;
  color: white;
  border-radius: 0;
}
.tpl-mz .scroll-msg {
  color: #554c4f;
  background: #eee;
}
.tpl-mz .scroll-msg .left-icon {
  background: url("../../../images/tpl/store_beauty_notice@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-mz .shop-details nav {
  height: 51px;
}
.tpl-mz .shop-details .store-tab {
  border-bottom: 1px solid #eee;
}
.tpl-mz .shop-details .store-tab li span {
  margin: 10px 0;
  padding: 7px 0.6rem;
}
.tpl-mz .shop-details .store-tab li span:after {
  display: none;
}
.tpl-mz .shop-details .store-tab li.active-tab span {
  border: 1px solid #554c4f;
  background: #fef0f0;
  color: #3e3e3e;
}
.tpl-mz .shop-details .sm-wrap {
  background: #fef0f0;
  padding: 0.525rem 0.75rem 0.5rem 1rem;
}
.tpl-mz .shop-details .sale-msg {
  background: white;
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  border: 1px solid #3e3e3e;
}
.tpl-mz .shop-details .sale-msg .sm-desc {
  width: 11.75rem;
  color: #3e3e3e;
}
.tpl-mz .shop-details .sale-msg .sale-icon {
  margin-right: 0.375rem;
  background: #3e3e3e;
  color: white;
  border-radius: 0;
}
.tpl-mz .shop-details .coupon-wrap {
  background: #fef0f0;
  border-bottom: 1px solid #eee;
  height: 6.4rem;
}
.tpl-mz .shop-details .coupon-wrap ul {
  height: 6.25rem;
  padding: 0;
}
.tpl-mz .shop-details .coupon-wrap li {
  width: 5rem;
  height: 5rem;
  border: 0 none;
  box-shadow: none;
  padding: 0.325rem 0 0 0;
  background: url("../../../images/tpl/store_beauty_coupons_red@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-mz .shop-details .coupon-wrap li.sty-1 {
  background: url("../../../images/tpl/store_coupons_blue@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-mz .shop-details .coupon-wrap .c-left {
  width: auto;
}
.tpl-mz .shop-details .coupon-wrap .c-left .face-val {
  color: #5b5b5b;
}
.tpl-mz .shop-details .coupon-wrap .c-left p {
  position: relative;
  padding: 0.25rem 0;
  line-height: 1;
  color: #7d7d7d;
}
.tpl-mz .shop-details .coupon-wrap .c-left p:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 1px;
  width: 1.675rem;
  background: #3e3e3e;
  top: 0;
  left: 50%;
  margin-left: -0.825rem;
}
.tpl-mz .shop-details .coupon-wrap .c-right {
  border-left: 0 none;
  text-align: center;
  line-height: 1;
}
.tpl-mz .shop-details .coupon-wrap .c-right span {
  margin: 0;
  padding: 0;
  width: auto;
  color: #a5a5a5;
  font-size: 11px;
}
[data-dpr="2"] .tpl-mz .shop-details .coupon-wrap .c-right span {
  font-size: 22px;
}
[data-dpr="3"] .tpl-mz .shop-details .coupon-wrap .c-right span {
  font-size: 33px;
}
.tpl-mz .shop-details .item-wrap .head-tit {
  text-align: center;
  border-bottom-color: #d8d8d8;
  background: url("../../../images/tpl/bg1@3x.png") no-repeat center;
  background-size: 100% auto;
}
.tpl-mz .shop-details .item-wrap .head-tit span {
  display: inline-block;
  border: 1px solid #3e3e3e;
  background: white;
  padding: 0.375rem 0.85rem;
}
.tpl-mz .shop-details .item-wrap .head-tit .add-arrow {
  background: url("../../../images/icon_arrow_right_black@2x.png") no-repeat right center;
  background-size: auto 80%;
  color: #3e3e3e;
}
.tpl-mz .shop-details .price {
  position: relative;
}
.tpl-mz .shop-details .price .prod-price {
  color: #3e3e3e;
}
.tpl-mz .shop-details .price .cart {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0.675rem;
  height: 0.675rem;
  background: url("../../../images/tpl/store_beauty_shoppingcar@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-mz .shop-details .goods-list.col-2 .cart {
  width: 25px;
  height: 25px;
}
.tpl-mz .shop-details .goods-img .lt-tag {
  background: #3e3e3e;
  color: #FEF0F0;
}
.tpl-mz .shop-details .goods-list.col-2.show-h {
  background: #fef0f0;
}
.tpl-mz .goods-list .pt-cont {
  margin: 5px 0;
  min-height: 61px;
}
.tpl-mz .goods-list .pt-cont .prod-tit {
  min-height: 36px;
}
.tpl-mz .goods-list .rb-tag {
  color: #3e3e3e;
  margin-top: 5px;
}
.tpl-mz .goods-list .rb-tag span {
  border-color: #3e3e3e;
  background-color: #FEF0F0;
}
.tpl-mz .tuiguang {
  border-color: #3e3e3e;
}
.tpl-mz .tuiguang .prod-tit,
.tpl-mz .tuiguang .price .prod-price {
  color: #704e3b;
}
.tpl-mz .tuiguang .tg-stat {
  background: url("../../../images/tpl/common_beauty_popularize@3x.png") no-repeat;
  background-size: contain;
}
.tpl-mz .sort-tab li span {
  color: #3e3e3e;
  background: url("../../../images/tpl/beauty_arrow@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-mz .sort-tab li.active-tab span {
  color: #99223E;
}
.tpl-mz .sort-tab li.active-tab span.sort-down {
  background: url("../../../images/tpl/beauty_arrow_down@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-mz .sort-tab li.active-tab span.sort-up {
  background: url("../../../images/tpl/beauty_arrow_up@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-mz .sort-tab li:first-child.active-tab span {
  background: url("../../../images/tpl/arrow_up_meizhuang_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.tpl-mz .sort-menu em.slt-menu {
  color: #99223e;
}

.tpl-sm {
  background: #000f24 !important;
}
.tpl-sm.no-tit:before {
  background: #023469;
}
.tpl-sm .box-sty {
  background: #000f24;
  border: 0 none;
}
.tpl-sm .goods-tips span {
  background: url("../../../images/tpl/digital_attention_d@3x.png") no-repeat left center;
  background-size: 12px 12px;
}
.tpl-sm .pop-sort {
  border-top: 0 none;
}
.tpl-sm .shop-tit {
  background: #023469;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.tpl-sm .shop-desc {
  color: #fff;
}
.tpl-sm .shop-desc p {
  color: #fff;
}
.tpl-sm .mark .mark-btn {
  background: #fff;
  color: #023469;
  border-radius: 0.625rem;
}
.tpl-sm .scroll-msg {
  background: #023469;
  color: #fff;
  margin-bottom: 4px;
  border-bottom: 0 none;
}
.tpl-sm .store-tab {
  background: #000f24;
  border-top: 0 none;
  padding: 5px;
  border-bottom: 0 none;
}
.tpl-sm .store-tab li span {
  color: #fff;
  background: url("../../../images/tpl/digital_tab@3x.png") no-repeat center bottom;
  background-size: cover;
  padding: 0;
  width: 94%;
  height: 29px;
  line-height: 29px;
}
.tpl-sm .store-tab li.active-tab span {
  color: #e0e230;
  background: url("../../../images/tpl/digital_tab_s@3x.png") no-repeat center bottom;
  background-size: cover;
}
.tpl-sm .store-tab li.active-tab span:after {
  display: none;
}
.tpl-sm .coupon-wrap {
  background-image: linear-gradient(-90deg, #030F1D 0%, #0B2040 49%, #031023 100%);
  height: 7rem;
}
.tpl-sm .coupon-wrap ul {
  height: 8rem;
  padding: 0;
  font-size: 0;
}
.tpl-sm .coupon-wrap li {
  border: 0 none;
  box-shadow: none;
  background: url("../../../images/tpl/digital_coupons@3x.png") no-repeat center;
  background-size: contain;
  width: 4.75rem;
  height: 5.65rem;
  padding: 1.5rem 0 0;
  margin-right: 0.375rem;
}
.tpl-sm .coupon-wrap li:first-child {
  margin-left: 0.5rem;
}
.tpl-sm .coupon-wrap li .face-val i {
  color: #fff;
  font-size: 11px;
}
[data-dpr="2"] .tpl-sm .coupon-wrap li .face-val i {
  font-size: 22px;
}
[data-dpr="3"] .tpl-sm .coupon-wrap li .face-val i {
  font-size: 33px;
}
.tpl-sm .coupon-wrap li .face-val span {
  color: #e0e230;
}
.tpl-sm .coupon-wrap li .c-left {
  width: 100%;
}
.tpl-sm .coupon-wrap li .c-left .usage {
  color: #fff;
}
.tpl-sm .sale-msg {
  background: #023469;
}
.tpl-sm .sale-msg .sale-icon {
  background: #fff;
  color: #023469;
}
.tpl-sm .sale-msg .sm-desc {
  color: #fff;
}
.tpl-sm .item-wrap .head-tit {
  position: relative;
  background: url("../../../images/tpl/digital_recommend@3x.png") no-repeat center;
  background-size: 100%;
  height: 2.875rem;
  line-height: 2.875rem;
  text-align: center;
  padding: 0;
  border-bottom: 0 none;
}
.tpl-sm .item-wrap .head-tit span {
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 2px 2px #000F24;
}
.tpl-sm .goods-list.col-1 {
  padding: 0.5rem 0.4rem 0.125rem;
}
.tpl-sm .goods-list.col-1 li {
  width: 100%;
  background: url("../../../images/tpl/digital_bg_big@3x.png") no-repeat center;
  background-size: 100% 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.125rem;
}
.tpl-sm .goods-list.col-1 li .goods-img {
  width: 7rem;
  height: 7rem;
  float: left;
  margin-right: 0.5rem;
}
.tpl-sm .goods-list.col-1 li .goods-img .lt-tag {
  background: #2E80D8;
  text-align: left;
}
.tpl-sm .goods-list.col-1 li .rb-tag {
  position: absolute;
  width: 100%;
  color: #2E80D8;
  bottom: -3rem;
  font-size: 0;
}
.tpl-sm .goods-list.col-1 li .rb-tag span {
  border-color: #2E80D8;
}
.tpl-sm .goods-list.col-1 li .rb-tag .sales {
  font-size: 11px;
  color: #fff;
}
.tpl-sm .goods-list.col-1 li .prod-info {
  width: 6.2rem;
  float: left;
  padding: 0;
}
.tpl-sm .goods-list.col-1 li .prod-info .prod-tit {
  color: #fff;
}
.tpl-sm .goods-list.col-1 li .prod-info .pt-cont {
  margin: 0.875rem 0 0.5rem;
  position: relative;
  min-height: 0.75rem;
}
.tpl-sm .goods-list.col-1 li .prod-info .price {
  min-height: inherit;
}
.tpl-sm .goods-list.col-1 li .prod-info .price > span {
  display: block;
}
.tpl-sm .goods-list.col-1 li .prod-info .price .prod-price {
  font-size: 1.05rem;
  color: #e0e230;
  text-align: center;
  margin-bottom: 1.625rem;
}
.tpl-sm .goods-list.col-1 li .prod-info .price .orig-price {
  color: #cacaca;
  display: inline-block;
}
.tpl-sm .goods-list.col-1 li .prod-info .buy-now {
  width: 3rem;
  height: 1rem;
  background-image: linear-gradient(-180deg, #016EA9 0%, #013775 49%, #026BA5 100%);
  box-shadow: 3px 3px 5px 0 #04214F;
  border-radius: 2.5rem;
  border: 1px solid transparent;
  border-top-color: #06A1DC;
  font-size: 0.55rem;
  color: #fff;
  line-height: 1rem;
}
.tpl-sm .goods-list.col-1 li:last-child {
  margin-bottom: 0;
}
.tpl-sm .goods-list.col-2 {
  padding: 0.5rem 0.45rem 0;
}
.tpl-sm .goods-list.col-2 li {
  background: url("../../../images/tpl/digital_bg_small@3x.png") no-repeat;
  background-size: 100% 100%;
  padding: 1.05rem 0 0;
  height: 11.7rem;
}
.tpl-sm .goods-list.col-2 li .goods-img {
  width: 6.4rem;
  height: 6.4rem;
  margin: 0 auto;
}
.tpl-sm .goods-list.col-2 li .goods-img .lt-tag {
  background: #2E80D8;
}
.tpl-sm .goods-list.col-2 li .prod-info {
  padding: 0 0.6rem;
}
.tpl-sm .goods-list.col-2 li .prod-info .pt-cont {
  min-height: 57px;
  margin: 0.25rem 0;
}
.tpl-sm .goods-list.col-2 li .prod-info .prod-tit {
  -webkit-line-clamp: 2;
  font-size: 13px;
  color: #fff;
  min-height: 34px;
}
[data-dpr="2"] .tpl-sm .goods-list.col-2 li .prod-info .prod-tit {
  font-size: 26px;
}
[data-dpr="3"] .tpl-sm .goods-list.col-2 li .prod-info .prod-tit {
  font-size: 39px;
}
.tpl-sm .goods-list.col-2 li .prod-info .price {
  min-height: inherit;
}
.tpl-sm .goods-list.col-2 li .prod-info .price .prod-price {
  color: #e0e230;
  font-size: 13px;
}
[data-dpr="2"] .tpl-sm .goods-list.col-2 li .prod-info .price .prod-price {
  font-size: 26px;
}
[data-dpr="3"] .tpl-sm .goods-list.col-2 li .prod-info .price .prod-price {
  font-size: 39px;
}
.tpl-sm .goods-list.col-2 li .prod-info .price .sales {
  color: #fff;
}
.tpl-sm .goods-list .rb-tag {
  color: #2E80D8;
  border-radius: 0;
  margin-top: 5px;
}
.tpl-sm .goods-list .rb-tag span {
  border-color: #2E80D8;
}
.tpl-sm .goods-more {
  right: 1.5rem;
}
.tpl-sm .goods-more a {
  display: inline-block;
  width: 2.5rem;
  height: 1rem;
  background: url("../../../images/tpl/digital_more@3x.png") no-repeat center;
  background-size: contain;
  font-size: 0;
}
.tpl-sm .tuiguang {
  border-color: #2e80d8;
  background: #033d8b;
}
.tpl-sm .tuiguang .pt-cont {
  margin: 5px 0;
  min-height: 59px;
}
.tpl-sm .tuiguang .prod-tit {
  color: #fff;
}
.tpl-sm .tuiguang .price .prod-price {
  color: #e0e230;
}
.tpl-sm .tuiguang .lt-tag {
  background: #2E80D8;
}
.tpl-sm .tuiguang .tg-stat {
  background: url("../../../images/tpl/common_popularize@3x.png") no-repeat;
  background-size: contain;
}
.tpl-sm .sort-tab {
  background: #013975;
  border-top: 0 none;
  margin-top: -9px;
}
.tpl-sm .sort-tab li span {
  color: #fff;
  background: url("../../../images/tpl/digital_arrow@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sm .sort-tab li.active-tab span {
  color: #E0E230;
}
.tpl-sm .sort-tab li.active-tab span.sort-down {
  background: url("../../../images/tpl/digital_arrow_down@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sm .sort-tab li.active-tab span.sort-up {
  background: url("../../../images/tpl/digital_arrow_up@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sm .sort-tab li:first-child.active-tab span {
  background: url("../../../images/tpl/arrow_up_dianqi_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.tpl-sm .sort-menu {
  background: #013975;
  border-top: 1px solid #0F4D9C;
}
.tpl-sm .sort-menu em {
  color: #fff;
}
.tpl-sm .sort-menu em.slt-menu {
  color: #E0E230;
}
.tpl-sm .goods-list.show-h {
  background: #033D8B;
  padding: 0 0 0.5rem 0.75rem;
}
.tpl-sm .goods-list.show-h li {
  background: none;
  height: auto;
  padding: 0.5rem 0;
}
.tpl-sm .goods-list.show-h li .goods-img {
  width: 4.5rem;
  height: 4.5rem;
  margin-right: 0.5rem;
}
.tpl-sm .goods-list.show-h li .goods-img .rb-tag {
  background: none;
}
.tpl-sm .goods-list.show-h li .goods-img .rb-tag span {
  background: #fff;
  border-radius: 0;
}
.tpl-sm .goods-list.show-h li .prod-info {
  width: 9.5rem;
  padding: 0;
}
.tpl-sm .goods-list.show-h li .prod-info .pt-cont {
  min-height: 36px;
  margin-bottom: 0.5rem;
}
.tpl-sm .goods-list.show-h li .prod-info .pt-cont .prod-tit {
  margin: 0;
  -webkit-line-clamp: 2;
}
.tpl-sm .goods-list.show-h li .prod-info .price {
  padding-top: 0;
}
.tpl-sm .goods-list.show-h li .prod-info .price .orig-price {
  float: none;
}
.tpl-sm .goods-list.show-h li:last-child {
  padding-bottom: 0;
}

.tpl-sp {
  background: #f5f7e1;
}
.tpl-sp .box-sty {
  border: 0 none;
}
.tpl-sp .shop-tit {
  border-top: 1px solid #eee;
}
.tpl-sp .shop-tit .mark .mark-btn {
  background: #8aad5a;
}
.tpl-sp .goods-tips span {
  background: url("../../../images/tpl/food_attention_d@3x.png") no-repeat left center;
  background-size: 12px 12px;
}
.tpl-sp .scroll-msg {
  background: #f5f7e1;
  color: #634832;
  border-bottom: 0 none;
}
.tpl-sp .scroll-msg .left-icon {
  background: url("../../../images/tpl/store_notice copy 2@3x.png") no-repeat;
  background-size: contain;
}
.tpl-sp .store-tab {
  border-top-color: transparent;
}
.tpl-sp .store-tab li.active-tab span {
  color: #8aad5a;
}
.tpl-sp .store-tab li.active-tab span:after {
  background: #8aad5a;
  border-radius: 0;
  width: 110%;
  left: -6%;
}
.tpl-sp .sale-msg {
  background: #fff;
}
.tpl-sp .sale-msg .sale-icon {
  background: #8aad5a;
}
.tpl-sp .sale-msg .sm-desc {
  color: #8aad5a;
}
.tpl-sp .coupon-wrap {
  padding: 0;
  height: 3.75rem;
}
.tpl-sp .coupon-wrap li {
  box-shadow: none;
  border: 0 none;
  border-radius: 0;
  background: url("../../../images/tpl/food_coupons_yellow@2x.png") no-repeat;
  background-size: contain;
  width: 8.225rem;
  height: 3.6rem;
  padding-left: 0.125rem;
}
.tpl-sp .coupon-wrap li .face-val i {
  color: #fff;
}
.tpl-sp .coupon-wrap li .face-val span {
  color: #fff;
}
.tpl-sp .coupon-wrap li .c-left .usage {
  color: #fff;
}
.tpl-sp .coupon-wrap li .c-left .deadline {
  color: #fff;
}
.tpl-sp .coupon-wrap li .c-right {
  border: 0 none;
}
.tpl-sp .coupon-wrap li .c-right span {
  color: #fff;
  margin: 0.7rem 0.25rem 0 0;
  padding: 0;
}
.tpl-sp .coupon-wrap li.sty-blue {
  background: url("../../../images/tpl/food_coupons_brown@2x.png") no-repeat;
  background-size: contain;
}
.tpl-sp .item-wrap.mb-20 {
  margin-bottom: 0.15rem;
}
.tpl-sp .item-wrap .head-tit {
  color: #8aad5a;
  background: url("../../../images/tpl/food_recommend@3x.png") no-repeat 0.5rem center #e6ecae;
  background-size: 0.65rem 1.25rem;
}
.tpl-sp .item-wrap .head-tit span {
  padding-left: 1rem;
}
.tpl-sp .item-wrap .head-tit a {
  color: #8aad5a;
}
.tpl-sp .item-wrap .head-tit .add-arrow {
  background: url("../../../images/tpl/food_more@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sp .goods-list li .goods-img .lt-tag {
  background: #F6BB1F;
}
.tpl-sp .goods-list li .prod-info {
  background: #fff;
  padding: 0.25rem 0.25rem 0.5rem;
  margin-top: 1px;
}
.tpl-sp .goods-list li .prod-info .pt-cont {
  min-height: 55px;
}
.tpl-sp .goods-list li .prod-info .prod-tit {
  min-height: 36px;
  line-height: 1.4;
  color: #704E3B;
  font-size: 13px;
}
[data-dpr="2"] .tpl-sp .goods-list li .prod-info .prod-tit {
  font-size: 26px;
}
[data-dpr="3"] .tpl-sp .goods-list li .prod-info .prod-tit {
  font-size: 39px;
}
.tpl-sp .goods-list li .prod-info .price {
  position: relative;
  letter-spacing: -1px;
  margin-top: 0.25rem;
}
.tpl-sp .goods-list li .prod-info .price .prod-price {
  color: #704E3B;
}
.tpl-sp .goods-list li .prod-info .price .sales {
  color: #704E3B;
}
.tpl-sp .goods-list li .prod-info .price .cart {
  right: 0;
  top: -2px;
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../../../images/tpl/store_food_shop@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-sp .goods-list li .lt-tag {
  background: #F6BB1F;
}
.tpl-sp .goods-list li .rb-tag {
  margin-top: 3px;
}
.tpl-sp .goods-list li .rb-tag span {
  color: #bf8200;
  border-color: #bf8200;
  background: none;
  border-radius: 0.1rem;
}
.tpl-sp .goods-list.col-2 .prod-info {
  padding: 0.25rem 0.45rem 0.5rem;
}
.tpl-sp .goods-list.col-2 .cart {
  right: 0.25rem;
  bottom: 0.125rem;
}
.tpl-sp .goods-list.col-2 .rb-tag span {
  border-radius: 0.1rem;
}
.tpl-sp .tuiguang {
  border-color: #F6BB1F;
}
.tpl-sp .tuiguang .prod-tit,
.tpl-sp .tuiguang .price .prod-price {
  color: #704E3B;
}
.tpl-sp .tuiguang .goods-list .prod-info {
  background: none;
  padding-bottom: 0;
}
.tpl-sp .tuiguang .rb-tag span {
  background: #FED71A;
}
.tpl-sp .tuiguang .tg-stat {
  background: url("../../../images/tpl/food_popularize@3x.png") no-repeat;
  background-size: contain;
}
.tpl-sp .sort-tab {
  border-bottom: 1px solid #eee;
}
.tpl-sp .sort-tab li span {
  color: #3e3e3e;
  background: url("../../../images/tpl/food_arrow@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sp .sort-tab li.active-tab span {
  color: #8AAD5A;
}
.tpl-sp .sort-tab li.active-tab span.sort-down {
  background: url("../../../images/tpl/digital_arrow_down@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sp .sort-tab li.active-tab span.sort-up {
  background: url("../../../images/tpl/digital_arrow_up@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-sp .sort-tab li:first-child.active-tab span {
  background: url("../../../images/tpl/arrow_up_green_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.tpl-sp .sort-menu em.slt-menu {
  color: #8AAD5A;
}
.tpl-sp .goods-list.show-h .prod-info {
  background: none;
  padding: 0 !important;
}
.tpl-sp .goods-list.show-h .prod-info .price {
  height: auto;
  letter-spacing: normal;
  padding-top: 0;
}
.tpl-sp .goods-list.show-h .prod-info .price .prod-price {
  display: inline-block;
}

.tpl-my {
  background: #ffeef3;
}
.tpl-my .box-sty {
  border: 0 none;
  background: none;
}
.tpl-my .shop-tit {
  background: #fff;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.tpl-my .goods-tips span {
  background: url("../../../images/tpl/baby_attention_d@3x.png") no-repeat left center;
  background-size: 12px 12px;
}
.tpl-my .mark .mark-btn {
  background: #ee9ab4;
  color: #fff;
  border-radius: 0.625rem;
}
.tpl-my .scroll-msg {
  background: #fff;
  color: #888;
}
.tpl-my .scroll-msg .left-icon {
  background: url("../../../images/tpl/store_notice copy@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-my nav {
  height: auto;
}
.tpl-my .store-tab {
  background: none;
  border-bottom: 0 none;
  position: relative;
}
.tpl-my .store-tab:after {
  position: relative;
  z-index: 6;
  content: '';
  display: block;
  width: 100%;
  height: 8px;
  background: #FFd8e3;
  border-top: 1px solid #Ffeef3;
}
.tpl-my .store-tab.col-4 li span {
  height: 31px;
  line-height: 31px;
}
.tpl-my .store-tab li {
  position: relative;
}
.tpl-my .store-tab li:nth-child(1) {
  z-index: 4;
}
.tpl-my .store-tab li:nth-child(2) {
  z-index: 3;
}
.tpl-my .store-tab li:nth-child(3) {
  z-index: 2;
}
.tpl-my .store-tab li:nth-child(4) {
  z-index: 1;
}
.tpl-my .store-tab li span {
  background-image: linear-gradient(-180deg, #FCD2E0 0%, #FF9DBC 98%);
  box-shadow: 0.075rem 0.05rem 0.1rem 0 #C66282, inset 0 0.05rem 0 0 #FFE8F0;
  border-radius: 0.375rem 0.375rem 0 0;
  padding: 0;
  height: 1.5rem;
  line-height: 1.55rem;
  width: 100%;
  color: #fff;
}
.tpl-my .store-tab li.active-tab {
  z-index: 5;
}
.tpl-my .store-tab li.active-tab span {
  color: #DA4F7C;
  background-image: linear-gradient(-180deg, #FFF 0%, #FDCBDB 98%);
  box-shadow: -0.075rem 0.05rem 0.1rem 0 rgba(198, 98, 130, 0.5), 0.075rem 0.05rem 0.1rem 0 rgba(198, 98, 130, 0.5), inset 0 0.05rem 0 0 #FFE8F0;
}
.tpl-my .store-tab li.active-tab span:after {
  display: none;
}
.tpl-my .sale-msg {
  background-image: linear-gradient(-180deg, #FDD2E0 0%, #FF9DBC 98%);
  box-shadow: 2px 2px 4px 0 #C76282, inset 0 3px 0 0 #FFE9F0;
}
.tpl-my .sale-msg .sale-icon {
  background: #92475E;
}
.tpl-my .sale-msg .sm-desc {
  color: #92475E;
}
.tpl-my .coupon-wrap {
  background: #FFE4ED;
  height: 6.5rem;
  padding: 1rem 0;
}
.tpl-my .coupon-wrap ul {
  height: 6.5rem;
  padding: 0 0 0 5.7rem;
  position: relative;
}
.tpl-my .coupon-wrap ul:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 4.7rem;
  height: 4.5rem;
  background: url("../../../images/tpl/baby_coupons_0@3x.png") no-repeat left top;
  background-size: 100% 100%;
  left: 0.7rem;
}
.tpl-my .coupon-wrap li {
  border: 0 none;
  box-shadow: none;
  border-radius: 0;
  width: 4.55rem;
  height: 4.4rem;
  background: url("../../../images/tpl/baby_coupons@3x.png") no-repeat center;
  background-size: contain;
  margin: 0.1rem 0.125rem 0;
  vertical-align: top;
  padding: 0;
  text-align: center;
  position: relative;
}
.tpl-my .coupon-wrap li .c-right {
  display: none;
}
.tpl-my .coupon-wrap li .c-left {
  width: 100%;
  float: none;
}
.tpl-my .coupon-wrap li .c-left:before {
  content: '';
  display: inline-block;
  width: 1.825rem;
  height: 1.9rem;
  background: url("../../../images/tpl/baby_coupons_1@3x.png") no-repeat center;
  background-size: contain;
  position: absolute;
  right: -0.1rem;
  top: -0.15rem;
}
.tpl-my .coupon-wrap li .c-left .face-val {
  margin-top: 0.25rem;
}
.tpl-my .coupon-wrap li .c-left .face-val i {
  display: none;
}
.tpl-my .coupon-wrap li .c-left .face-val span {
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  letter-spacing: -2px;
}
.tpl-my .coupon-wrap li .c-left .usage {
  background: #fff;
  width: 3.9rem;
  height: 0.8rem;
  line-height: 0.85rem;
  border-radius: 0.4rem;
  padding: 0;
  margin: 0.25rem auto;
  color: #E27D9F;
}
.tpl-my .coupon-wrap li .c-left .deadline {
  color: #fff;
  font-size: 10px;
}
[data-dpr="2"] .tpl-my .coupon-wrap li .c-left .deadline {
  font-size: 20px;
}
[data-dpr="3"] .tpl-my .coupon-wrap li .c-left .deadline {
  font-size: 30px;
}
.tpl-my .item-wrap.mb-20 {
  margin-bottom: .15rem;
}
.tpl-my .item-wrap .head-tit {
  padding: 0;
  width: 15rem;
  height: 2rem;
  margin: 0 auto;
  border-bottom: 0 none;
  text-align: center;
  line-height: 2rem;
}
.tpl-my .item-wrap .head-tit span {
  color: #F67CA3;
  font-size: 0.8rem;
  font-weight: bold;
}
.tpl-my .item-wrap .head-tit .goods-more {
  right: 0;
}
.tpl-my .item-wrap .head-tit .add-arrow {
  color: #F67CA3;
  background: url("../../../images/tpl/baby_more@3x.png") no-repeat right center;
  background-size: auto 12px;
  padding-right: .45rem;
  margin-right: 0.25rem;
}
.tpl-my .goods-list {
  padding-top: 0;
}
.tpl-my .goods-list.col-2 .prod-price {
  color: #ff7191 !important;
}
.tpl-my .goods-list li {
  padding: 0 0.1875rem;
}
.tpl-my .goods-list li .goods-img {
  border-bottom: 1px solid #f0f0f0;
}
.tpl-my .goods-list li .prod-info {
  background: #fff;
  padding: 0.25rem 0.25rem 0.5rem;
}
.tpl-my .goods-list li .prod-info .prod-tit {
  margin-top: 0;
  font-size: 13px;
  min-height: 36px;
}
[data-dpr="2"] .tpl-my .goods-list li .prod-info .prod-tit {
  font-size: 26px;
}
[data-dpr="3"] .tpl-my .goods-list li .prod-info .prod-tit {
  font-size: 39px;
}
.tpl-my .goods-list li .prod-info .price {
  margin-top: 5px;
  position: relative;
}
.tpl-my .goods-list li .prod-info .prod-price {
  color: #626262;
  font-size: 0.65rem;
}
.tpl-my .goods-list li .prod-info .sales {
  color: #9B9B9B;
}
.tpl-my .goods-list li .prod-info .cart {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  right: 0;
  top: -0.075rem;
  background: url("../../../images/tpl/store_baby_shop@3x.png") no-repeat;
  background-size: 100%;
}
.tpl-my .goods-list .pt-cont {
  margin: 5px 0;
  min-height: 59px;
}
.tpl-my .goods-list .lt-tag {
  background: #EE9AB4;
}
.tpl-my .goods-list .rb-tag {
  color: #F786AA;
  margin-top: 5px;
}
.tpl-my .goods-list .rb-tag span {
  border-radius: 0.1rem;
  border-color: #F786AA;
}
.tpl-my .goods-list.show-h.col-2 .goods-img {
  border-bottom: 0 none;
}
.tpl-my .goods-list.show-h.col-2 .prod-info {
  padding: 0;
}
.tpl-my .goods-list.show-h.col-2 .price {
  min-height: inherit;
  text-align: left;
  padding-top: 0;
}
.tpl-my .goods-list.show-h.col-2 .prod-price {
  background: none;
  color: #EE9AB4;
  display: inline;
}
.tpl-my .goods-list.show-h.col-2 .orig-price {
  color: #9b9b9b;
}
.tpl-my .tuiguang {
  border-color: #EE9AB4;
}
.tpl-my .tuiguang .tg-stat {
  background: url("../../../images/tpl/baby_popularize@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-my .tuiguang .prod-tit {
  color: #626262;
}
.tpl-my .tuiguang .prod-price {
  color: #626262;
}
.tpl-my .tuiguang .price .orig-price {
  color: #EE9AB4;
}
.tpl-my .sort-tab {
  background: #FFD8E3;
  border-top: 0 none;
  margin-top: -8px;
}
.tpl-my .sort-tab li span {
  color: #E084A2;
  background: url("../../../images/tpl/baby_arrow@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-my .sort-tab li.active-tab span {
  color: #DA4F7C;
}
.tpl-my .sort-tab li.active-tab span.sort-down {
  background: url("../../../images/tpl/baby_arrow_down@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-my .sort-tab li.active-tab span.sort-up {
  background: url("../../../images/tpl/baby_arrow_up@3x.png") no-repeat right center;
  background-size: auto 80%;
}
.tpl-my .sort-tab li:first-child span {
  background: url("../../../images/tpl/arrow_down_red_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.tpl-my .sort-tab li:first-child.active-tab span {
  background: url("../../../images/tpl/arrow_up_red_s@3x.png") no-repeat right center !important;
  background-size: 7px auto !important;
}
.tpl-my .sort-tab .ext-menu {
  background: url("../../../images/tpl/common_icon_image@3x.png") no-repeat right center;
  background-size: contain;
}
.tpl-my .sort-tab .ext-menu.m-h {
  background: url("../../../images/tpl/common_icon_list@3x.png") no-repeat center;
  background-size: contain;
}
.tpl-my .pop-sort {
  top: 37px;
  border-top: 0 none;
}
.tpl-my .sort-menu {
  background: #FFD8E3;
  border-top: 1px solid #fac4d6;
}
.tpl-my .sort-menu em {
  color: #E084A2;
}
.tpl-my .sort-menu em.slt-menu {
  color: #DA4F7C;
}

/*# sourceMappingURL=new.css.map */
