@charset "UTF-8";
@import "mixins";
@import "variables";
//弹窗组件
.pop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;

    .bg-layer {
        background: rgba(0, 0, 0, .5);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .pop-wrap {
        width: 80%;
        background-color: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 12px;
        overflow: hidden;
        h4 {
            font-size: 16px;
            text-align: center;
            background: $col-red;
            color: #fff;
            padding: 6px 0;
        }
        h5 {
            font-size: 16px;
            font-weight: normal;
            color: #000;
            padding-bottom: 5px;
        }
    }
    .artic-cont {
        position: relative;
        height: auto;
        text-align: center;
        padding: 18px 15px;
        -webkit-user-select: none;
        user-select: none;
        &:after {
            @include border-1px(0, 0, 100%, 1px, $col-d8);
        }
        span {
            font-size: 14px;
        }
        .input-text{
            width: 100%;
            border: solid 1px #d8d8d8;
            font-size: 14px;
            padding: 6px;
            background-color: transparent;
            box-sizing: border-box;
            color: inherit;
            -webkit-appearance:none;
            display: block;
        }
    }
    .operate-wrap {
        font-size: 0;
        a {
            display: inline-block;
            width: 50%;
            font-size: 16px;
            text-align: center;
            color: $col-red;
            padding: 10px 0;
            &.default{
                color: #333;
            }
            &:first-child {
                position: relative;
                &:after {
                    @include border-1px(100%, 0, 1px, 100%, $col-d8);
                }
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    .dialog-wrap-info .dialog-overlay {
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .dialog-content-info {
        width: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        .dialog-content-bd {
            padding: 0;
            margin: 0;
            position: relative;
            width: 140px;
            height: 140px;
            color: #fff;
            text-align: center;
            .info-icon {
                max-width: 48px;
                margin: 20% 0 0;
            }
            .info-text {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 20px;
                margin: 0;
                font-size: 16px;
                white-space: nowrap;
            }
        }
    }
    &.dialog-wrap-tips {
        .bg-layer {
            display: none;
        }
        .pop-wrap.dialog-content-tips {
            width: 50%;
            border-radius: 4px;
            background: rgba(0,0,0,.5);
            color: white;
            text-align: center;
            padding: 15px 0;
        }
    }
    .pop-actionsheet{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: translate(0, 100%);
        transform: translate(0, 100%);
        background-color: #fff;
        -webkit-transition: transform .3s;
        transition: transform .3s;
        font-size: 13px;
        &.as-toggle{
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        .as-title{
            position: relative;
            line-height: pr(40);
            font-size: 15px;
            padding: pr(24) pr(30);
            &:after{
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
              border-bottom: solid 1px #D8D8D8;
              -webkit-transform: scale(1,.5);
              transform: scale(1,.5);
            }
        }
        .as-closed{
            position: absolute;
            right: pr(30);
            top: 50%;
            width: pr(30);
            height: pr(30);
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            background: url('../../images/common_btn_close@3x.png') no-repeat ;
            background-size: 100%;
            overflow: hidden;
            text-indent: -9999rem;
        }
        .as-btn{
            line-height: pr(80);
            margin: pr(30);
            display: block;
            background-color: #FA5E71;
            border-radius: 4px;
            text-align: center;
            color: #fff;
            font-size: 16px;
        }
        .as-info{
            position: relative;
            padding: pr(20) pr(30) pr(40);
            line-height: 28px;
            dt{
                font-size: 14px;
            }
            dd{
                position: relative;
                padding-left: 16px;
                &:after{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    margin-top: -4px;
                    width: 7px;
                    height: 7px;
                    border: solid 1px #333;
                    transform:rotate(45deg);
                    -webkit-transform:rotate(45deg);
                }
            }
        }
    }
}
//复选按钮
.regular-checkbox {
  display: none;
  & + label {
    position: relative;
    padding-left: 22px;
    height: 22px;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background: url('../../images/common_btn_choice_n@3x.png') no-repeat ;
      background-size: 100%;
      border-radius: 100%;
      width: 22px;
      height: 22px;
    }
  }
  &:checked + label {
    &:before{
      background-image: url('../../images/common_btn_choice_s@3x.png');
    }
  }
}
@keyframes asFadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .artic-cont:after {
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
    }
    .operate-wrap a:first-child:after {
        -webkit-transform: scaleX(.5);
        transform: scaleX(.5);
    }
}
