@charset "UTF-8";
@import "mixins";
@import "variables";

$image-path: '../../images/';

.tab-module {

  .tab-list {
    //padding: 0 1.05rem;

    position: relative;
    //height: 1000px;
  }
  .tab-nav {
    width: 100%;
    border-top: 1px solid $col-border;
    border-bottom: 1px solid #eee;
    .tab-item {
      float: left;
      @include line-height(33.3%, 40px);
      a {
        font-size: 14px;
        color: #626262;
        display: inline-block;
        @include size(100%, 100%);
        span {
          position: relative;
          display: inline-block;
          height: 100%;
          padding: 0 .15rem;

        }
      }
      &.selected a {
        color: #0F8BB4;
        span:after {
          position: absolute;
          width: 100%;
          height: 2px;
          left: 0;
          bottom: 0;
          display: block;
          content: ' ';
          background-color: #0F8BB4;
          @include background($image-path, 'icon_tab_blue@2x.png', center no-repeat);
          background-size: contain;
        }
      }
      &.hasnew a {
        span:before {
          @include size(.55rem, .55rem);
          position: absolute;
          right: -.2rem;
          top: 28%;
          display: block;
          content: ' ';
          border-radius: 100%;
          background-color: #FE3F35;;
        }
      }
    }

  }
  .tab-content {
    display: none;
    &.selected {
      display: block;
    }
  }
}
.tab-content {
  display: none;
  &.selected {
    display: block;
  }
}